<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

    <div class="background" >
        <div class="content">
            <h1>Welcome to Sketchy Sushi!</h1>
            <p>Hello, and welcome to Sketchyyy Sushiii! 🎨🍣</p>
            <p>I'm thrilled to have you here in my little corner of the internet where art meets anime, and creativity knows no bounds. At SketchySushi, you'll find a collection of my latest anime and manga-inspired artworks, tutorials, and behind-the-scenes looks at my creative process.</p>
            <p>Stay tuned for regular updates, and don't forget to follow me on social media to keep up with all the latest SketchySushi creations!</p>
            <p>Arigato gozaimasu for stopping by! 🥰</p>
        </div>
        <br><br><br><br>
        <div id="about" class="content">
          <br><br>
            <h1>About me</h1>
            <p>Im a well motivated engineering student having a lot of interest in art. Here I am showcasing my art skills with my web development skills.it sounds kinda cool right hehe</p>
            <br>  <br>
        </div>
        <br><br>
        <div class="content">
            <form action="/content" method="GET"  >
                <input class="submit" type="submit" value="CONTENT">
              </form>
        </div>
    </div>
    <footer style="background-color: rgb(62, 62, 62,1);  color: aliceblue; display: flex; align-items: center; justify-content: center;padding: 40px;">
      all rights reserved @medha
    </footer>
</body>

</html>